@import './ColumnItem';
@import './Column';
@import './ColumnSpace';
@import './ColumnInput';
@import './NewColumn';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: #1e1e1e;
  color: #cccccc;
}
